@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500&family=Roboto:wght@300;400;500;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: "Roboto", sans-serif;
}

.banner {
    background: linear-gradient(to right, white 77%, #212121 33%);
}

.hero-text{
    transform-style: preserve-3d;
}

.circle{
    box-shadow: inset 4px 0px 0px -1px rgb(255, 95, 27,0.8);
    min-height: 480px;
    min-width:500px;
    border-radius: 50%;
    z-index: 1;
    transform-origin: center;
    animation: animate 8s linear infinite;
}

.circle:hover {
    animation-play-state: paused; 
}


.circle::after {
    content: '';
    min-height: 110%;
    min-width:45%; 
    position: absolute;
    top: 50%;
    right:80%;
    transform: translate(50%, -50%); 
    z-index: 10; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.8) 0%, #ffffff00 40%, rgba(255, 255, 255, 0.8) 100%);

  }


  

  .circle .select {
    box-shadow: 2px 2px 15px 0px rgba(255, 95, 27, 0.35);
  }

.cta-btn {
        padding: .8rem 1.4rem;
        border-radius: 29.5px 29.5px 0px 29.5px;
        background: var(--primary-1, #FF5F1B);
        box-shadow: 2px 2px 15px 0px rgba(255, 95, 27, 0.35);
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.8rem;
        backface-visibility: hidden;
}


/* swiper  */
  .swiper {
    width: 100%;
    height: 100%;
  }



  .swiper .swiper-button {
    position: absolute;
    background-color: #FF5F1B;
    color:#ffffff;
    height: 2rem;
    width: 2rem;
    border-radius: 10px;
  }

  .swiper .swiper-button::after{
    display: none;
  }



  .swiper .swiper-button-prev {
    left: 35%;
  }
  .swiper .swiper-button-next {
    right: 35%;
  }
  
  .slide-card {
    background: #ffffff;
    margin: 1.2rem;
    padding: .8rem 1.5rem;
    border-radius: 18px;
    border: 0;
    cursor: grab;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
    position: relative; 
  }

  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    transition: transform .5s ease-in-out;
  }
.swiper-slide-active {
    transform: scale(1.03);
    z-index: 50;
  }


  .swiper-slide:has(.swiper-slide-active){
    box-shadow: 2px 2px 15px 0px rgba(255, 95, 27, 0.35);
  }


  .swiper-slide:not(.swiper-slide-active){
    transform: scale(0.92); 
  } 
  
  .swiper-slide:not(.swiper-slide-active)::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    transform: scale(0.9); 
}

  .swiper-slide-active .slide-card{
    margin: 0 .8rem;
  }

  .special-offer{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }


@keyframes animate {
    0%, 100% {
        transform: rotateZ(0deg);
    }
    30%{
        transform: rotateZ(-10deg);
    }
    60%{
        transform: rotateZ(10deg);
    }

}

@media screen and (min-width: 1920px) {
    html{
        font-size: 80% !important;
    }
    .custom-calc-width {
        max-width: calc(100vw - 600px) !important;
      }   
}

@media screen and (max-width: 1024px) {
    .banner {
        background: linear-gradient(to right, white 82%, #212121 18%);
    }
}
@media screen and (max-width: 780px) {
    .banner {
        background: #ffff;
    }
}